    <div class="main_chat1">
         <div class="main_chat1-1">
            <div class="main_chat1-1-1">
            hogefuga
            </div>
         </div>
        <div class="main_chat1-2">    
            <div class="main_chat1-2-1">
                <a href="#">チャットする</a>        
            </div>
        </div>
    </div>

    <div class="main_chat2">
        <div class="main_chat2-1">
                <div class="main_chat2-1-1">
                    <div class="main_chat2-1-1-1">
                    Tom
                    </div>
                    <div class="main_chat2-1-1-2">
                    2020/3/31(Wed) 12:43:30
                    </div>
                </div>
                <div class="main_chat2-1-2">
                    <div class="main_chat2-1-2-1">
                    おはよう
                    </div>
                </div>           
        </div>

        <div class="main_chat2-1">
                <div class="main_chat2-1-1">
                    <div class="main_chat2-1-1-1">
                    Tom
                    </div>
                    <div class="main_chat2-1-1-2">
                    2020/3/31(Wed) 12:43:30
                    </div>
                </div>
                <div class="main_chat2-1-2">
                    <div class="main_chat2-1-2-1">
                    おはよう
                    </div>
                </div>           
        </div>
    </div>





<%= form_with model: [@room, @message], class: 'main_chat3', local: true do |f| %>
        <div class="main_chat3-1">
            <%= f.text_field :content, class: 'main_chat3-1-1', placeholder: 'type message' %>
            <label class="form-image">
                <span class="image-file">画像</span>
                <%=f.file_field :image, class: 'hidden' %>
            </label>
        </div>
        <%= f.submit '送信', class: 'main_chat3-2' %>
<% end %>