    <div class="side_bar1">
      <div class="side_bar1-1">
        <%= link_to current_user.name, edit_user_path(current_user) %>
      </div>
      
      <div class="side_bar1-2">
       <%= link_to "チャットを作成する", new_room_path %>
      </div>

    
    </div>


    <div class="side_bar2">
      <% current_user.rooms.each do |room| %>
      <div class="side_bar2-1">
        <div class="side_bar2-1-1">
         <a href="#"><%= room.name %></a>
        </div>
      </div>
      <% end %>
    </div>